mat-toolbar {
	display: flex;
	justify-content: space-between;
}

.header__right {
	display: flex;
	align-items: center;
	& > *:not(:last-child) {
		margin-right: 20px;
	}
	.header__right__flags {
		a {
			text-decoration: none;
		}
		& > *:not(:last-child) {
			margin-right: 0.5em;
		}
	}
}
.header__author {
	font-size: 14px;
	font-weight: normal;
	opacity: 0.85;
}
